@import "variables";

body {
  font-family: $font-family !important;
}

.site-header {
  padding: 1rem 12rem !important;
  background: $bg-primary !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: $primary !important;

  ul {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.07em;
    li {
      margin: 0 2rem;
      a {
        color: inherit;
        transition: 0.3s ease ease-in;
      }
      a:hover {
        border-bottom: 2px solid;
        padding-bottom: 2px;
        transition: 0.3s ease ease-out;
      }
    }
  }
}

.site-body {
  background-color: $bg-primary;
}

.site-footer {
  background: $bg-primary !important;
  text-align: center;
}
.logo {
  float: left;
}

.intro-main {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-img {
  img {
    width: 20rem;
  }
}

.intro {
  font-size: 3rem;
  color: $primary;
  font-weight: 600;
}

section {
  height: 80vh;
  margin: 0 12rem;
}

// ----------------------

.loading-content {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
